Workflows/3.WhatApp-Workflows/1.Whatsapp-API-Integration/whatsapp_messaging_workflow.json
{
  "name": "whatsapp_messaging_workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -80
      ],
      "id": "f933b892-b462-468a-9566-5a49a800d49d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v17.0/788204457712061/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"917995808161\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"hello_world\",\n    \"language\": {\n      \"code\": \"en_US\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -80
      ],
      "id": "51268e59-8d57-4d4a-94f3-c02bfbbf426c",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "FV4GRmAZkwnPF6DK",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09FELXFR7E",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "text": "=The Whatsapp Message has been sent successfully. The following is returned from WhatsApp  {{ $json.messages[0].message_status }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        112,
        -80
      ],
      "id": "04f005eb-2891-45a6-9384-28852d6b1b1f",
      "name": "Send a message",
      "webhookId": "a2dd48b3-5646-451e-bdec-bd2c4fc9cb84",
      "credentials": {
        "slackApi": {
          "id": "byScDh3yo2v0Mb9y",
          "name": "Slack account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8b76de3-ac3c-4927-a12b-7b41deb4108d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36ff5823de645247c409d00d5ed0aecd5c29499b9cb9437a651601e2b22aaceb"
  },
  "id": "fbnNn23SwpWQXfPw",
  "tags": []
}