concepts/4.Function-Node/function-node.json
{
  "name": "function-node",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "id": "76f08501-95e5-4083-b1f0-72e2e17eeb21",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"num1\": 5,\n  \"num2\": 10\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -64
      ],
      "id": "ed805c9b-d755-4108-89ca-191632063074",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  num1: $json.num1,\n  num2: $json.num2,\n  sum: $json.num1 + $json.num2,\n  product: $json.num1 * $json.num2\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -64
      ],
      "id": "1bab365c-b0fe-40ba-986a-99be63a93d2f",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae11cdb7-aa14-4647-83d5-db326511b9b4",
  "meta": {
    "instanceId": "36ff5823de645247c409d00d5ed0aecd5c29499b9cb9437a651601e2b22aaceb"
  },
  "id": "bwMNlH23jYu0LNqt",
  "tags": []
}